body {
  margin: 0;
  font-size: 16px;
}

header {
  padding: 5px;
  background-image: url("../images/full-banner.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#navbar {
  padding: 15px 40px;
}

section {
  padding: 20px 0;
}

#content {
  width: 50%;
  margin: 0 auto;
}

#inputArea {  
  padding: 10px 0;
  text-align: center;
  margin: 0 auto;
}

.textArea {
  width: 50%;
  border-radius: 5px;
}

.submitBtn {
  width: 25%;
  background-color: purple;
  border-radius: 5px;
  color: white;
  line-height: 35px;
}

.formfield * {
  vertical-align: middle;
}

.blue_banner{
  background-color:#90caf9;
}

.banner_content {
  width: 50%;
  padding: 10px 0;
  margin: 0 auto;
}

.banner_content img {
  display: inline-block;
  width: 40%;
}

.babyBannerText {
  font-size: 24px;
  width: 55%;
  padding: 5px;
  display: inline-block;
  vertical-align: middle;
}

.info_footer {
  width: 50%;
  margin: 0 auto;
  padding: 30px 0;
}

.f_left {
  width: 45%;
  display: inline-block;
}

.f_left a {
  color: purple;
  text-decoration: underline;
}

.f_right {
  width: 40%;
  margin-left: 14%;
  display: inline-block;
}

.f_right a {
  padding-right: 15px;
}

.f_btm {
  font-size: 12px;
  text-align: center;
  padding-top: 20px;
}