body {
  margin: 0;
}

header{
  padding: 5px;
  background-color: white;
  background-image: url("../images/full-banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

#content {
  width: 80%;
  margin: 0 auto;
}

#blue_banner{
  background-color: blue;
}