#logo{
    background: url("../../assets/images/pixel-onion-logo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left; 
}
.background{
 
    background: url("../../assets/images/full-banner.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 70%;
}
.twitter{
    background: url("../../assets/images/ic-twitter-active-24.png");
    background-repeat: no-repeat;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
}

td, th {
    border-bottom-style: solid;
    text-align: left;
    padding: 8px;
    border-color:lightgray;

}

.border{
    border-top-style: solid;
    border-bottom-style: solid;
}